@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

///Size_font
$body_size: 18px;

///Font
$fw_300: 300;
$fw_400: 400;
$fw_500: 500;
$family: 'Rubik', sans-serif;
//Radius
$radius: 0.8rem;